.wrapper
  .hoom
    .header
      .header__top
        Lifeshare
      .header__logo
        .header__logo__user
          = icon('fas', 'house-user', class:'icon')
        .header__logo__logu
          = icon('fas', 'cog', class:'icon')
    .side
      .side__header
        .side__header__group
          グループリスト
        .side__header__edit
          = icon('fas', 'people-arrows', class:'edit')
      .side__main
    .main
      .main__header
      .main__suke

