.wrapper
  .hoom
    .header
      .header__top
        Lifeshare
      .header__logo
        .header__logo__user
          = icon('fas', 'address-card', class:'icon')
        .header__logo__group
          = icon('fas', 'people-arrows', class:'icon')
        .header__logo__logu
          = icon('fas', 'cog', class:'icon')
    .side
    .main

