* {
  box-sizing: border-box;
}

.wrapper{
  display:flex;
  background-color:lightgreen;
}

.hoom{
  background-color:lightgreen;
  .left{
    width:280px;
    .header{
      width:350px;
      height:50px;
      display:flex;
      align-items:center;
      &__top{
        font-family:'Ubuntu Mono', monospace;
        font-size:40px;
        margin:10px 0 0 20px;
        margin-left:30px;
        color:white;
      }
      &__logo{
        display:flex;
        .icon{
          margin:7px 0 0 20px;
          font-size:30px;
          color:white;
        }
        &__user{
          display:flex;
          align-items:center;
          &__name{
            font-size:18px;
            margin:20px 0 0 15px;
            color:white;
          }
        }
      }
    }
    .side{
      width:250px;
      margin: 20px 0 0 10px;
      &__header{
        height:50px;
        background-color:rgb(0, 247, 255);
        border-radius:25px;
        display:flex;
        align-items:center;
        &__group{
          padding:0 20px 0 25px;
          font-size:25px;
          color:white;
        }
        &__new{
          margin-left:30px;
        }
        .edit{
          color:white;
          font-size:20px;
        }
      }
      &__group{
        height:630px;
        border-radius:25px;
        overflow:scroll;
        margin-bottom:20px;
        &__list{
          margin:25px 10px 0 25px;
          &__name{
            font-size:24px;
            color:white;
            text-decoration:none;
          }
          .a{
            text-decoration:none;
          }
        }
      }
    }
  }
  .center{
    width:250px;
    &__top{
      height:50px;
      padding:15px 0 0 10px;
      overflow:scroll;
      &__name{
        color:white;
        font-size:25px;
      }
    }
    &__naka{
      height:50px;
      background-color:orange;
      margin-top:20px;
      border-radius:25px;
      display:flex;
      align-items:center;
      justify-content:space-between;
      &__date{
        color:white;
        font-size:25px;
        padding-left:20px;
      }
      &__new{
        padding-right:40px;
      }
      .new{
        color:white;
        font-size:25px;
      }
    }
    &__bottom{
      overflow:scroll;
      box-sizing: border-box;
      height:600px;
      &__list{
        margin:25px 10px 0 60px;
        &__name{
          font-size:30px;
          color:rgb(255, 174, 0);
        }
        .a{
          text-decoration:none;
        }
      }
    }
  }
  .light{
    .main{
      border-radius:30px;
      width:1070px;
      height:750px;
      margin:10px 20px 0 0px;
      &__top{
        display:flex;
        align-items:center;
        justify-content:space-between;
        &__name{
          font-size:30px;
          color:white;
          margin:0 130px 0 20px;
        }
        .main__footer{
          height:50px;
          background-color:lightgreen;
          margin-bottom:10px;
          .form{
            display:flex;
            justify-content:space-between;
            align-items:center;
            background-color:lightgreen;
            .input-box{
              position:relative;
              width:100%;
              background-color:lightgreen;
              &__text{
                border-style:none;
                border-radius:30px;
                height:50px;
                width:500px;
                padding:0 70px 0 30px;
                outline:0;
              }
              &__image{
                height:50px;
                position:absolute;
                right:30px;
                padding-top:3px;
                font-size:30px;
                &__file{
                  display:none;
                }
              }
            }
            .submit__btn{
              background-color:orange;
              border-style:none;
              color:white;
              height:40px;
              width:55px;
              border-radius:30px;
              outline:0;
              margin-left:15px;
            }
          }
        }
      }
      &__header{
        border-radius:30px;
        height:60px;
        background:rgb(0, 247, 255);
        display:flex;
        align-items:center;
        justify-content:space-between;
        .footer{
          height:40px;
          margin-left:20px;
          .form{
            display:flex;
            justify-content:space-between;
            align-items:center;
            .input-box{
              width:100%;
              &__text{
                border-style:none;
                border-radius:30px;
                height:40px;
                width:200px;
                padding: 0 30px 0 20px;
                outline:0;
              }
            }
            .submit__btn{
              background-color:orange;
              border-style:none;
              color:white;
              height:40px;
              width:55px;
              border-radius:30px;
              outline:0;
              margin-left:15px;
            }
          }
        }
        &__group{
          font-size:40px;
          color:white;
          margin:0 300px 10px 0 ;
        }
        &__edit{
          font-size:40px;
          margin-right:20px;
          .edit{
            color:white;
          }
        }
      }
      &__calendar{
        display:flex;
        height:630px;
        &__plan{
          border-radius:0 0 0 20px;
          width:220px;
          background-color:lightgreen;
          overflow: scroll;
          padding: 0px 20px;
          .date{
            margin:30px 0 0 15px;
            color:white;
            &__nen{
              font-size:18px;
            }
            &__gatu{
              display:flex;
              &__tuki{
                font-size:25px;
                margin-left:10px;
              }
              &__niti{
                font-size:38px;
                margin:5px 0 0 5px;
              }
            }
          }
        }
        &__content{
          border-radius:20px;
          width:850px;
          background-color:white;
          overflow: scroll;
          margin:10px 0 0 0;
          .box{
            margin:25px 20px 15px 25px;
            &__username{
              font-size:15px;
            }
            &__message{
              font-size:20px;
            }
          }
        }
      }
    }
  }
}