* {
  box-sizing: border-box;
}

.wrapper{
  display:flex;
  background-color:rgb(32, 32, 32);
}

.hoom{
  background-color:rgb(32, 32, 32);
  .left{
    width:280px;
    .header{
      width:350px;
      height:50px;
      display:flex;
      align-items:center;
      &__top{
        font-family:'Ubuntu Mono', monospace;
        font-size:40px;
        margin:10px 0 0 20px;
        margin-left:30px;
        color:white;
      }
      &__logo{
        display:flex;
        .icon{
          margin:7px 0 0 20px;
          font-size:30px;
          color:white;
        }
        &__user{
          display:flex;
          align-items:center;
          &__name{
            font-size:18px;
            margin:20px 0 0 15px;
            color:white;
          }
        }
      }
    }
    .side{
      width:250px;
      margin: 20px 0 0 10px;
      &__header{
        height:50px;
        background-color:rgb(87, 88, 88);
        border-radius:25px;
        display:flex;
        align-items:center;
        &__group{
          padding:0 20px 0 25px;
          font-size:25px;
          color:white;
        }
        &__new{
          margin-left:30px;
        }
        .edit{
          color:white;
          font-size:20px;
        }
      }
      &__group{
        height:630px;
        border-radius:25px;
        overflow:scroll;
        margin-bottom:20px;
        &__list{
          margin:25px 10px 0 25px;
          &__name{
            font-size:24px;
            color:white;
            text-decoration:none;
          }
          .a{
            text-decoration:none;
          }
        }
      }
    }
  }
  .center{
    width:250px;
    &__top{
      height:50px;
      padding:15px 0 0 10px;
      overflow:scroll;
      &__name{
        color:white;
        font-size:25px;
      }
    }
    &__naka{
      height:50px;
      background-color:rgb(87, 88, 88);
      margin-top:20px;
      border-radius:25px;
      display:flex;
      align-items:center;
      justify-content:space-between;
      &__date{
        color:white;
        font-size:25px;
        padding-left:20px;
      }
      &__new{
        padding-right:40px;
      }
      .new{
        color:white;
        font-size:25px;
      }
    }
    &__bottom{
      overflow:scroll;
      box-sizing: border-box;
      height:600px;
      &__list{
        margin:25px 10px 0 60px;
        &__name{
          font-size:30px;
          color:white;
        }
        .a{
          text-decoration:none;
        }
      }
    }
  }
  .light{
    .main{
      border-radius:30px;
      width:840px;
      height:690px;
      margin:10px 10px 0 15px;
      .main__footer{
        height:50px;
        margin-bottom:10px;
        .form{
          display:flex;
          justify-content:space-between;
          align-items:center;
          .input-box{
            position:relative;
            width:100%;
            &__text{
              border-style:none;
              border-radius:30px;
              height:50px;
              width:780px;
              padding:0 70px 0 30px;
              outline:0;
            }
            &__image{
              height:50px;
              position:absolute;
              right:30px;
              padding-top:3px;
              font-size:30px;
              &__file{
                display:none;
              }
            }
          }
          .submit__btn{
            background-color:rgb(0, 225, 255);
            border-style:none;
            color:white;
            height:40px;
            width:55px;
            border-radius:30px;
            outline:0;
            margin-left:15px;
          }
        }
      }
      &__header{
        border-radius:30px;
        height:60px;
        background:rgb(87, 88, 88);
        display:flex;
        align-items:center;
        justify-content:center;
        &__group{
          font-size:50px;
          color:white;
          margin-right:30px;
          padding-bottom:10px;
        }
        &__edit{
          font-size:30px;
          margin-right:20px;
          padding-top:10px;
          .edit{
            color:white;
          }
        }
      }
      &__calendar{
        display:flex;
        height:625px;
        &__content{
          border-radius:20px;
          width:850px;
          background-color:white;
          overflow: scroll;
          margin:10px 0 0 0;
          .box{
            margin:25px 20px 15px 25px;
            &__username{
              font-size:15px;
            }
            &__message{
              font-size:20px;
            }
          }
        }
      }
    }
  }
}